# Configuration file

General {
    # This allows you to disable recipes for Florbs. It also means that you actively dislike fun things.
    B:Recipe.Enable=true
}


Whitelist {
    B:aluminum.molten=true
    B:aluminumbrass.molten=true
    B:alumite.molten=true
    B:ardite.molten=true
    B:blood=true
    B:bronze.molten=true
    B:cement.liquid=true
    B:coal=true
    B:cobalt.molten=true
    B:copper.molten=true
    B:cryotheum=true
    B:cyanite=true
    B:electrum.molten=true
    B:emerald.liquid=true
    B:ender=true
    B:enderium.molten=true
    B:fuel=true
    B:gascraft_corrosivegas=true
    B:gascraft_hydrogen=true
    B:gascraft_naturalgas=true
    B:gascraft_neurotoxin=true
    B:gascraft_plasma=true
    B:gascraft_propellent=true
    B:gascraft_smoke=true
    B:gascraft_toxicgas=true
    B:glass.molten=true
    B:glowstone=true
    B:glue=true
    B:gold.molten=true
    B:invar.molten=true
    B:iron.molten=true
    B:lava=true
    B:lead.molten=true
    B:limestone.molten=true
    B:lumium.molten=true
    B:mana=true
    B:manyullyn.molten=true
    B:mithril.molten=true
    B:nickel.molten=true
    B:nutrientwater=true
    B:obsidian.molten=true
    B:oil=true
    B:pigiron.molten=true
    B:platinum.molten=true
    B:pyrotheum=true
    B:redplasma=true
    B:redstone=true
    B:signalum.molten=true
    B:silver.molten=true
    B:slickwater=true
    B:slime.blue=true
    B:steam=true
    B:steel.molten=true
    B:stone.seared=true
    B:tin.molten=true
    B:water=true
    B:yellorium=true
}


